[submodule "src/local-pkgs/nyan-mode"]
	path = src/local-pkgs/nyan-mode
	url = git@github.com:TeMPOraL/nyan-mode.git
[submodule "src/local-pkgs/powerline"]
	path = src/local-pkgs/powerline
	url = git@github.com:NgaNguyenDuy/emacs-powerline.git
